            @import "base/base";
            @import "pages/about";
            @import "pages/home";
            @import "pages/services";
            @import "abstracts/variables";
            @import "components/button";
            @import "layout/header";
            @import "layout/footer";
            @import "components/media";
            @import "components/form";
            @import "components/composition";
            /*-----------------------------SERVICES------------------------*/
            
            .services {
                width: 80%;
                margin: auto;
                text-align: center;
                padding-top: 100px;
                cursor: progress;
            }
            
            h1 {
                font-size: 36px;
                font-weight: 600;
            }
            
            p {
                font-size: 14px;
                font-weight: 300;
                line-height: 22px;
                padding: 10px;
            }
            /*--------------------------------------------------------
                        /*------------------services-2-------------------------*/
            
            .service-2 {
                width: 80%;
                margin: auto;
                text-align: center;
                padding-top: 100px;
                cursor: progress;
            }
            
            h1 {
                font-size: 36px;
                font-weight: 600;
            }
            
            p {
                font-size: 14px;
                font-weight: 300;
                line-height: 22px;
                padding: 10px;
            }
            /*-----------------------------------------------
                        /*-----------------------ROW----------------------*/
            
            .row {
                margin-top: 5%;
                display: flex;
                justify-content: space-between;
            }
            
            .service-col {
                flex-basis: 30%;
                background: #fff3f3;
                border-radius: 10px;
                margin-bottom: 20px;
                padding: 16px 10px;
                box-sizing: border-box;
                transition: 0.5s;
            }
            
            .service-col:hover {
                box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
            }
            
            h3 {
                text-align: center;
                font-weight: 600;
                margin: 10px 0;
            }
            /*----------------------------------------------------*/
            /*----------------------service-2-col---------------------*/
            
            .service-2-col {
                flex-basis: 30%;
                background: #cbe4e7;
                border-radius: 10px;
                margin-bottom: 20px;
                padding: 16px 10px;
                box-sizing: border-box;
                transition: 0.5s;
            }
            
            .service-2-col:hover {
                box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
            }
            
            h3 {
                text-align: center;
                font-weight: 600;
                margin: 10px 0;
            }
            /*---------------------------------------------------------------
                        /*-------------------------OUR EXPERTISE-----------------------*/
            
            .expertise {
                width: 80%;
                margin: auto;
                text-align: center;
                padding-top: 50px;
            }
            
            .expertise h3 {
                background-image: Linear-gradient(to right, rgba(25, 219, 25, 0.856), rgba(61, 226, 61, 0.76));
                -webkit-background-clip: text;
                text-transform: uppercase;
                font-size: 19.5px;
            }
            
            .expertise-col {
                flex-basis: 49%;
                border-radius: 45%;
                border-radius: 10px;
                margin-bottom: 30px;
                position: relative;
                text-align: left;
            }
            
            .section-inquiry h3 {
                margin-top: 25px;
                background-image: Linear-gradient(to right, rgba(25, 219, 25, 0.856), rgba(61, 226, 61, 0.76));
                -webkit-background-clip: text;
                text-transform: uppercase;
                font-size: 19.5px;
            }
            /*-------------------------------------------------------------------------
                        /*-----------------------COMPOSITION PHOTO----------------------------------*/
            
            .composition {
                padding-top: 5px;
                margin-top: 5px;
            }
            /*-------------------------------------------------*/
            /*------------------TESTIMONIALS-------------------*/
            
            .testimonials {
                width: 80%;
                margin: auto;
                padding-top: 100px;
                text-align: center;
            }
            
            .testimonials-col {
                flex-basis: 44%;
                border-radius: 10px;
                margin-bottom: 5%;
                background: #fff3f3;
                padding: 25px;
                cursor: pointer;
                box-shadow: 0 2.5rem 4rem rgba(35, 194, 35, 0.5), blue, alpha;
                text-align: left;
                transition: 0.5s;
            }
            
            .testimonials-col:hover {
                box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
            }
            /*------------------------------------------------------
                        /*--------------------TESTIMONIALS-IMAGE----------------*/
            
            .testimonials-col img {
                height: 50px;
                margin-left: 5px;
                margin-right: 30px;
                border-radius: 55%;
            }
            
            .testimonials-col .fa {
                color: #f44336;
            }
            /*------------------------------------------------------------------
                        /*------------------------CAALL TO ACTION SECTION-------------------*/
            
            .cta {
                margin: 100px auto;
                width: 80%;
                background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(images/image-1.jfif);
                background-position: center;
                background-size: cover;
                text-align: center;
                border-radius: 10px;
                padding: 100px 0;
            }
            
            .cta h1 {
                color: #fff;
                margin-bottom: 40px;
                padding: 0;
            }
            /*--------------------------------------------------------------------
                        /*-------------------------FOOTER------------------------------------*/
            
            .footer {
                width: 100%;
                text-align: center;
                padding: 30px 0;
                background-color: rgb(59, 55, 55);
            }
            
            .footer h4 {
                margin-bottom: 25px;
                margin-top: 20px;
                font-weight: 600;
                color: antiquewhite;
                font-size: 17px;
                text-transform: uppercase;
            }
            
            .footer p {
                color: antiquewhite;
                font-size: 17px;
            }
            /*------------------------------------------------------------------------
                        /*----------------------ICONS--------------------------------------------*/
            
            .fa-solid {
                color: #2b2828;
                display: hidden;
                height: 20px;
            }
            
            .icons {
                color: blue;
                height: 50px;
            }
            /*---------------------------------------------------------------------*/
            /*------------------------------BOOK.HTML-----------------------------*/
            /*.booking-page {
                width: 80%;
                margin: auto;
                padding-top: 100px;
                align-items: center;
            }
            
            .booking-page p {
                text-align: center;
            }
            
            .booking-title {
                text-align: center;
                font-weight: 700;
                font-size: 28px;
            }
            
            .book-form {
                padding: 10px;
            }*/
            /*----------------------------------NAV FOR FORM & ABOUT---------------------------*/
            
            .banner {
                background: rgba(189, 219, 159, 0.616);
                height: 80px;
                display: flex;
                padding: 2% 6%;
                justify-content: space-between;
                align-items: center;
                width: 100%;
                background-image: Linear-gradient(rgba(153, 179, 114, 0.5), rgba(132, 236, 132, 0.5)), url(images/image-11.jfif);
                background-position: center;
                background-size: cover;
                position: relative;
            }
            
            .inquiry {
                background-size: cover;
                border-radius: 0.4rem;
                background-image: linear-gradient(105deg, rgba(202, 218, 240, 0.815) 0%, rgba(209, 235, 194, 0.815) 50%, transparent 50%), url(images/image-11.jfif);
                width: 90%;
                margin: auto;
                padding-top: 100px;
                align-items: center;
            }
            
            .inquiry__form {
                width: 50%;
                padding: 1rem;
                margin-left: 5rem;
            }
            
            .form-group {
                margin-left: 3rem;
            }
            
            .form__input {
                font-size: 1.5rem;
                padding: 1.5rem 2rem;
                border-radius: 2px;
                background-color: rgba(245, 245, 245, 0.397);
                border: none;
                font-family: inherit;
                width: 40%;
                display: block;
                border-bottom: 2px solid transparent;
                margin-bottom: 2rem;
            }
            
            .form__input:focus {
                outline: none;
                box-shadow: 0 1rem 2rem rgba(130, 149, 233, 0.103);
                border-bottom: 2px solid rgb(149, 216, 202);
            }
            
            .lbl__form {
                font-size: 1.2rem;
                font-weight: 500;
                margin-left: 4rem;
                margin-top: .5rem;
                display: block;
            }
            
            .lbl__form:not(:last-child) {
                margin-bottom: 5rem;
            }