 /*-------------------------FOOTER------------------------------------*/
 
 .footer {
     width: 100%;
     text-align: center;
     padding: 30px 0;
 }
 
 .footer h4 {
     margin-bottom: 25px;
     margin-top: 20px;
     font-weight: 600;
 }
 /*----------------------ICONS--------------------------------------------*/
 
 .social-icons {
     margin-top: 30px;
 }
 
 .social-icons a {
     text-decoration: none;
     font-size: 30px;
     margin-right: 15px;
     color: #ababab;
     display: inline-block;
     transition: transform 0.5s;
 }
 
 .social-icons a:hover {
     color: #ff004f;
     transform: translate(-5px);
 }
 /*---------------------------------------------------------------------*/