 /*-------------------------FOOTER------------------------------------*/
 
 .footer {
     width: 100%;
     text-align: center;
     padding: 30px 0;
 }
 
 .footer h4 {
     margin-bottom: 25px;
     margin-top: 20px;
     font-weight: 600;
 }
 /*----------------------ICONS--------------------------------------------*/
 
 .fa-solid {
     color: #f44336;
     display: hidden;
 }
 
 .icons {
     color: blue;
 }
 /*---------------------------------------------------------------------*/