.btn-hero {
    display: inline-block;
    color: white;
    font-size: 15px;
    border: 1px solid aliceblue;
    padding: 12px 34px;
    background: transparent;
    position: relative;
    cursor: pointer;
    text-decoration: none;
    margin-top: 4px;
}

.btn-hero:hover {
    border: 1px solid burlywood;
    background: burlywood;
    transition: 1s;
}

.button-text {
    text-decoration: none;
    margin-top: 1.5rem;
    display: inline-block;
    background-image: Linear-gradient(to right, rgba(25, 219, 25, 0.856), rgba(61, 226, 61, 0.76));
    -webkit-background-clip: text;
    color: transparent;
    font-size: 1.2rem;
    text-align: left;
    margin-bottom: 0.5rem;
}